<footer class="h-12 w-screen bg-gray-900 text-white">
  <div class="container mx-auto h-full flex items-center justify-start">
    <p>developed by <a href="github.com/berkerozer">Berker Özer</a></p>
  </div>
</footer>