<div
  class="flex h-100 w-100 items-start content-center justify-between container mx-auto pt-24"
>
  <div class="flex flex-col w-1/4">
    <h2 class="text-2xl">Your wallet created 🎉</h2>
    <br />
    <p>You should coppy this keys and dont share the private key to anyone!!!</p>
  </div>
  <div><h3>privatekey</h3><hr />
    <textarea class="text-xs" name="private" id="priv" cols="50" rows="30">
      {{privateKey}}
    </textarea></div>
  <div><h3>publickey</h3><hr />
    <textarea class="text-xs" name="private" id="priv" cols="50" rows="30">
      {{publicKey}}
    </textarea></div>
</div>